<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
      <add name="CnxRestSync" connectionString="Data Source = sql5013.site4now.net; Initial Catalog = DB_A3F354_RESTSYNC; Persist Security Info=True;User ID = DB_A3F354_RESTSYNC_admin;Password = 1234santiago" providerName="System.Data.SqlClient" />
      <!--  <add name="CnxRestSync" connectionString="Data Source = EMCSERVER; Initial Catalog = DB_A3F354_RESTSYNC; Persist Security Info=True;User ID = sa;Password = 1234santiago" providerName="System.Data.SqlClient" /> -->
      <!-- <add name="CnxFloraNueva" connectionString="Data Source = sql5028.site4now.net; Initial Catalog = DB_A40B8F_FloraNueva; Persist Security Info=True;User ID = DB_A40B8F_FloraNueva_admin;Password = 1234santiago" providerName="System.Data.SqlClient" /> -->
      <add name="CnxFloraNueva" connectionString="Data Source = EMCSERVER; Initial Catalog = FloraNueva; Persist Security Info=True;User ID = sa;Password = 1234santiago" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>